@import bourbon
@import fonts.sass
@import vars.sass


html *,
html *:before,
html *:after

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "RobotoRegular", sans-serif
	overflow-x: hidden
	background-image: url("https://asoftmurmur.com/assets/img/bg-high-res.jpg")

.header
	display: block
	background-image: url("https://asoftmurmur.com/assets/img/bg-high-res.jpg")
.hat
	background-color: rgba(0,0,0,.3)
	width: 100%
	height: 4.5rem
	position: relative
	opacity: 50%

.Volume
	position: relative
	-webkit-appearance: none
	margin-left: 2rem
	max-width: 16rem
	padding: 0.7%

.VolumeSlider
	width: 100%
	margin: 11px 0
	min-width: 3rem
	position: relative
	cursor: default
	appearance: none
	padding: initial

.mute
	display: inline-block
	position: absolute
	border: 2px solid #fff
	border-radius: 5px
	margin-left: 17rem
	margin-top: -2.5rem
	padding: 1px 10%
	min-width: 1rem
	text-align: center
	font-size: 1.1rem
	background-color: #000000
	color: #fff
	text-transform: uppercase

.mute:hover
	transition: background .6s ease,color .6s ease
	color: black
	background: white

nav
	align-items: center
	max-width: 15rem
	padding: .1%
	float: right
	margin-top: -4.5rem
	font-size: 20px

	a
		color: white
		text-decoration: underline

	a:hover
		transition: background .3s ease,color .3s ease
		color: #BDBDBD

	a:visited
		color: white

.blog
	margin-top: 5rem
	margin-right: 3rem

.about
	margin-top: 5rem
	margin-right: 1rem


.Title h1
	font-family: Montserrat
	color: #fff
	font-size: 7rem
	text-transform: uppercase
	text-align: center

.Title p
	margin-top: -5rem
	text-align: center
	font-size: 16px
	font-family: Montserrat
	color: white

.awe-wrapper
	button
		display: flex
		margin: auto

	.awe-wrapper .animation-of-button .Play
	display: flex
	margin: auto
	height: 5rem
	width: 5rem
	border-left: 4.5rem solid #fff
	border-top: 2.5rem solid transparent
	border-bottom: 2.5rem solid transparent
	border-right: 0 solid #fff

	.awe-wrapper .animation-of-button .After
		display: flex
		margin: auto
		transition: border .15s linear,opacity .1s ease

.wraperr
	padding: 2rem

.reset
	padding: 2rem

.Reset
	padding: 2rem 2rem
	min-width: 2rem
	min-height: 2rem
	display: flex
	margin: auto
	font-size: 1rem
	border: 2px solid #fff
	border-radius: 50%
	background-color: #0f0f0f
	text-transform: uppercase
	text-align: center
	font-family: Montserrat
	color: #ffffff

.Reset:hover
	transition: background .3s ease,color .3s ease
	background: #FF1744
	border: 2px solid black

.container0
	float: left
	position: relative
	height: 230px
	width: 250px
	display: flex
	justify-content: center
	align-items: center

.container0 .inner
	width: 150px
	height: 180px
	display: flex
	flex-direction: column
	align-items: center

.soundSlider
	display: flex
	flex: 1
	flex-direction: column
	justify-content: flex-end
	width: 100px
	.soundSlider
		span
			display: block



/*.bottom
	a
		color: white
		text-decoration: underline

	a:hover
		transition: background .3s ease,color .3s ease
		color: #BDBDBD

	a:visited
		color: #ffffff */













