@import bourbon
@import fonts.sass
@import vars.sass

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "RobotoRegular", sans-serif
	overflow-x: hidden
	background-image: url("https://asoftmurmur.com/assets/img/bg-high-res.jpg")

.header
	display: block
	background-image: url("https://asoftmurmur.com/assets/img/bg-high-res.jpg")

.hat
	background-color: rgba(0,0,0,.3)
	width: 100%
	height: 4.5rem
	position: relative
	opacity: 50%

.Volume
	position: relative
	-webkit-appearance: none
	margin-left: 2rem
	max-width: 16rem
	padding: 0.7%

.VolumeSlider
	position: relative
	cursor: default
	padding: initial

.Volume .Mute
	border: 2px solid #fff
	border-radius: 5px
	margin-top: -2.6rem
	margin-left: 15rem
	padding: 1px 10%
	min-width: 4rem
	text-align: center
	font-size: 1.1rem
	background-color: #000000
	color: #fff
	text-transform: uppercase

.Volume .Mute:hover
	position: relative
	transition: background .6s ease,color .6s ease
	color: #FAFAFA

.hat nav
	align-items: center
	max-width: 20rem

	a
		color: white
		text-decoration: underline

	a:hover
		transition: background .3s ease,color .3s ease
		color: #BDBDBD

	a:visited
		color: white

.Title h1
	font-family: Montserrat
	color: #fff
	font-size: 7rem
	text-transform: uppercase
	text-align: center

.Title p
	argin-top: .5rem
	text-align: center
	font-size: 16px
	font-family: Montserrat
	color: white

.Play
	cursor: pointer
	width: 5rem
	height: 5rem

.Play .After
	height: 5rem
	width: 5rem
	border-left: 4.5rem solid #fff
	border-top: 2.5rem solid transparent
	border-bottom: 2.5rem solid transparent
	border-right: 0 solid #fff

.Reset
	height: 2.5rem
	width: 2.5rem
	min-height: 38px
	min-width: 38px
	font-size: .7rem
	border: 2px solid #fff
	-webkit-border-radius: 50%
	border-radius: 50%
	display: block
	background-color: #0f0f0f

.ButtonContents
	width: 100%
	height: 100%
	align-items: center
	position: relative

.image
	background-image: url(//24.ico)
	/*background-position: -368px -400px*/
	width: 24px
	height: 24px

/*.bottom
	a
		color: white
		text-decoration: underline

	a:hover
		transition: background .3s ease,color .3s ease
		color: #BDBDBD

	a:visited
		color: #ffffff */













